* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 17%;
    left: 35%;
}

.logo {
    width: 500px;
/*     height: auto; */
    background: transparent;
    object-fit: fill;
}

.nav-links ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-family: Snell Roundhand;
    font-size: 52px;
    text-align: center;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


.Gentlemen {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.Gentlemen h1{

    font-family: Snell Roundhand;
    font-size: 50px;
}

.img-row {
    display: flex;
}

.img-column {
    /* flex-basis: 31%; */
    /* background: #fff3f3; */
/*     border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s; */
    display: flex;
    height: 750px;
    width: 750px;
    object-fit: cover;
    
}

/* .img-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
} */
.ladies {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.ladies h1{

    font-family: Snell Roundhand;
    font-size: 50px;
    text-align: center;
}

.img-row-1 {
    display: flex;
}

.img-column-1 {
    /* flex-basis: 31%; */
    /* background: #fff3f3; */
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.img-column-1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.contact-info {
    margin: 10px 0;
    font-size: 12px;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info span {
    font-size: 12px;
}

.copyright {
    /* width: 100%; */
    text-align: center;
    margin-top: 20px;
}

.contact {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.container p {
    margin-bottom: 40px;
    color: #777;
    font-size: 18px;
}
